.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
  /* background-color: #282c34; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.formContainer h4 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.formContainer {
  width: calc(100% - 8px);
  /* min-width: 350px; */
  max-width: 500px;
}

.error {
  color: red;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.itemPrice {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
}

.inputForm {
  display: flex;
  flex-direction: column;
}

.totalDiv {
  display: flex;
  align-items: baseline;
}

.formContainer Button {
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
